.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/kotlinc.xml
.intellijPlatform/
out/

# Gradle things
.gradle
.sandbox/
raku-idea-plugin/build/
raku-idea-plugin/.idea/
raku-idea-plugin/raku-idea-plugin.iml

build/
.intellijPlatform/self-update.lock
gradle/
